@import "~bootstrap/scss/bootstrap.scss";

#trafficTop{
    background-color: black;
    width: 10px;
    height: 70px;
    margin: auto;
}

#container{
    background-color: black;
    width: 76px;
    height: 178px;
    margin: auto;
    padding: 7px;
    border-radius: 10px;
}

.light{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    &.red{background-color: #990000;}
    &.yellow{background-color: #CC6600;}
    &.green{background-color: #009933;}
    &.selectedr{box-shadow: #990000 0px 0px 50px 20px;}
    &.selectedy{box-shadow: #CC6600 0px 0px 50px 20px;}
    &.selectedg{box-shadow: #009933 0px 0px 50px 20px;}
}